<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/system_file.xsd">
    <system>
		<section id="smspro">
				<group id="smsgatways">
					<field id="hismssenderid" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
						<label>Hisms Sender ID</label>
						<depends><field id="gateway">hisms</field></depends>
						<validate>required-entry</validate>
					</field>
					<field id="hismsusername" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
						<label>Hisms Username</label>
						<depends><field id="gateway">hisms</field></depends>
						<validate>required-entry</validate>
					</field>
					<field id="hismspassword" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
						<label>Hisms Password</label>
						<depends><field id="gateway">hisms</field></depends>
						<validate>required-entry</validate>
					</field>
					<field id="hismsapiurl" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
						<label>API URL</label>
						<comment><![CDATA[https://www.hisms.ws/api.php]]></comment>
						<depends><field id="gateway">hisms</field></depends>
						<validate>required-entry validate-url</validate>
					</field>
				</group>
		</section>
    </system>
</config>