<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="vsms">
            <group id="settings">
            	<group id="sms_gateway">
	            	<field id="bulksms_username" translate="label tooltip" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>BulkSms Username</label>
	                    <config_path>vsms/settings/bulksms_username</config_path>
	                    <depends>
	                        <field id="gateway">bulksms</field>
	                    </depends>
	                </field>
	                <field id="bulksms_password" translate="label tooltip" type="text" sortOrder="61" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>BulkSms Password</label>
	                    <config_path>vsms/settings/bulksms_password</config_path>
	                    <depends>
	                        <field id="gateway">bulksms</field>
	                    </depends>
	                </field>
	                <field id="bulksms_is_unicode" translate="label tooltip" type="select" sortOrder="62" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>Enable Unicode Message</label>
	                    <config_path>vsms/settings/bulksms_is_unicode</config_path>
	                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
	                    <depends>
	                        <field id="gateway">bulksms</field>
	                    </depends>
	                </field>
                </group>
            </group>
        </section>
    </system>
</config>
