<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <vsms>
        	<settings>
        		<mobily_app_type>24</mobily_app_type>
        	</settings>
        </vsms>
    </default>
</config>
