<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<moyasar_credit_card>
				<active>1</active>
				<model>Moyasar\Mysr\Model\Payment\MoyasarCreditCard</model>
				<order_status>pending_payment</order_status>
				<title>Credit Card: Mada, Visa, MasterCard</title>
				<cards_type>visa,mada,mastercard</cards_type>
				<sort_order>1</sort_order>
			</moyasar_credit_card>

			<moyasar_apple_pay>
				<active>0</active>
				<model>Moyasar\Mysr\Model\Payment\MoyasarApplePay</model>
				<order_status>pending_payment</order_status>
				<title>Apple Pay</title>
				<sort_order>0</sort_order>
			</moyasar_apple_pay>

			<moyasar_stc_pay>
				<active>0</active>
				<model>Moyasar\Mysr\Model\Payment\MoyasarStcPay</model>
				<order_status>pending_payment</order_status>
				<title>stc pay</title>
				<sort_order>2</sort_order>
			</moyasar_stc_pay>
		</payment>
	</default>
</config>
